---
import Layout from "@layouts/Layout.astro";
import Detail from "@components/Detail.astro";
import { getById } from "@utils/getData";
import type { Project } from "@utils/types";

export function getStaticPaths() {
  return [
    { params: { id: "4" } },
    { params: { id: "5" } },
    { params: { id: "6" } },
    { params: { id: "7" } },
    { params: { id: "8" } },
    { params: { id: "9" } },
    { params: { id: "10" } },
  ];
}

const { id } = Astro.params;

const experience: Project = getById(Number(id));
---

<Layout
  title={`${experience.title} | Federico Krenn`}
  description={experience.description}
>
  <main>
    <Detail {experience} />
  </main>
</Layout>

<style>
  main {
    margin-top: 80px;
  }
</style>
