---
import Layout from "../../layouts/Layout.astro";

export function getStaticPaths() {
  return [
    { params: { id: "4" } },
    { params: { id: "5" } },
    { params: { id: "6" } },
    { params: { id: "7" } },
    { params: { id: "8" } },
    { params: { id: "9" } },
    { params: { id: "10" } },
  ];
}

const { id } = Astro.params;
---

<Layout title={`Post ${id} | Frontend Developer`}>
  <main>
    <h1>Post {id}</h1>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
</style>