---
import Layout from "../layouts/Layout.astro";
import Contact from "../components/Contact.astro";
import Experience from "../components/Experience.astro";
import Proyects from "../components/Proyects.astro";
import nombre from "../utils/experience.json";
import type { Accumulator } from "../utils/types";

const { experiences, proyects } = nombre.data.reduce<Accumulator>(
  (acc, el) => {
    if (el.real) {
      acc.experiences.push(el);
    } else {
      acc.proyects.push(el);
    }
    return acc;
  },
  { experiences: [], proyects: [] }
);
---

<Layout title="Federico Krenn | Frontend Developer">
  <main>
    <section id="presentation">
      <div>
        <h1>Federico Krenn</h1>
        <h2>Frontend Developer</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
          animi aspernatur dolorum, ea mollitia eos distinctio quia quam et id.
          Itaque, ratione sequi tempore nostrum nulla modi quos! Suscipit,
          voluptas?
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
          animi aspernatur dolorum, ea mollitia eos distinctio quia quam et id.
        </p>
      </div>
        <img
          src="https://picsum.photos/250"
          alt="Imagen de perfil de Federico Krenn | Frontend developer"
        />
      </div>
    </section>
    <Experience {experiences} />
    <Proyects {proyects} />
    <Contact />
  </main>
</Layout>

<style>
  h1 {
    font-size: 2em;
    font-weight: 700;
  }

  h2 {
    font-size: 1.4em;
    font-weight: 400;
    &::before {
      content: "👨‍💻";
      margin-right: 10px;
    }
  }

  section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #presentation {
    min-height: 100vh
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 70vh;
    gap: 20px;
  }

  div:last-child {
    flex: 1;
    align-items: center;
  }

  p {
    font-size: 0.9em;
    line-height: 1.5;
    width: 80%;
  }

  img {
    border-radius: 50%;
  }
</style>
