---
import Layout from "@layouts/Layout.astro";
import Presentation from "@components/Presentation.astro";
import Experience from "@components/Experience.astro";
import Proyects from "@components/Projects.astro";
import Contact from "@components/Contact.astro";
---

<Layout
  title="Federico Krenn | Frontend Developer"
  description="Portfolio profesional de Federico Krenn, Frontend Developer"
>
  <main>
    <Presentation />
    <Experience />
    <Proyects />
    <Contact />
  </main>
</Layout>
