---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bienvenidos a mi portfolio">
  <main>
    <h1>Portfolio - Federico Krenn</h1>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    max-width: 1024px;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
