---
import Card from "@components/Card.astro";
import { getExperience } from "@utils/getData";
import type { Project } from "@utils/types";
---

<section id="experience" class="sub-section">
  <h2>Experiencia</h2>
  <div>
    {getExperience().map((experience: Project) => <Card {experience} />)}
  </div>
</section>

<style>
  section {
    margin: 0;
  }

  div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 500px;
    grid-gap: 1rem;
    margin: 20px 0;
  }
</style>
