---
import Card from "./Card.astro";
import type { Project } from "../utils/types";

interface Props {
  experiences: Project[];
}

const { experiences } = Astro.props;
---

<section>
  <h2>Experiencia</h2>
  <div>
    {experiences.map((experience) => <Card {experience} />)}
  </div>
</section>

<style>
  section {
    margin: 40px 0;
  }

  h2 {
    font-size: 2rem;
    margin: 20px 0;
  }

  div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 500px;
    grid-gap: 1rem;
    margin: 20px 0;
  }
</style>
