---
import EmailLogo from "@icons/EmailLogo.astro";
import GithubLogo from "@icons/GithubLogo.astro";
import LinkedinLogo from "@icons/LinkedinLogo.astro";
---

<footer>
  <ul>
    <li>
      <a href="https://github.com/fedekrenn" target="_blank">
        <GithubLogo color="#fff" />
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/fkrenn/" target="_blank">
        <LinkedinLogo color="#fff" />
      </a>
    </li>
    <li>
      <a href="mailto:fedekrenn@gmail.com" target="_blank" class="email-icon">
        <EmailLogo color="#fff" />
      </a>
    </li>
  </ul>
</footer>

<style>
  footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
  }
</style>
