<header>
  <a href="/#presentation">
    <strong>&lt;Fk <span class="color-diagonal">/</span>&gt;</strong>
  </a>
  <ul>
    <li><a href="/#experience">Experiencia</a></li>
    <li><a href="/#projects">Proyectos</a></li>
    <li><a href="/#contact">Contacto</a></li>
  </ul>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    min-height: 80px;
    padding: 0 40px;
    font-size: 1.2rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    animation: animateHeader linear both;
    animation-timeline: scroll(root);
    animation-range: 100px 300px;
    strong {
      font-weight: bold;
      font-size: 3em;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style: none;
    animation: changeColor linear both;
    animation-timeline: scroll(root);
    animation-range: 0 300px;
    li {
      cursor: pointer;
      transition: all 0.3s ease;
    }
  }

  li:hover {
    color: var(--secondary);
  }

  .color-diagonal {
    color: var(--secondary);
  }

  @keyframes animateHeader {
    to {
      background-color: #ffffff42;
      backdrop-filter: blur(10px);
      font-size: 1em;
      min-height: 60px;
    }
  }

  @keyframes changeColor {
    to {
      font-weight: 600;
      text-shadow: 1px 1px 7px #000;
    }
  }
</style>
