---
import BentoItem from "@components/BentoItem.astro";
import { getProjects } from "@utils/getData";
import type { Project } from "@utils/types";
---

<section id="projects" class="sub-section">
  <h2>Proyectos personales</h2>
  <div class="bento-container">
    {getProjects().map((experience: Project) => <BentoItem {experience} />)}
  </div>
</section>

<style>
  div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(3, 200px);
    grid-template-areas:
      "krennflix restaurante bikeStore"
      "krennflix regalos apiRestBiblioteca"
      "curriculum apiRestEcommerce apiRestEcommerce";
    gap: 20px;
    margin: 20px 0;
  }

  @media (max-width: 875px) {
    div {
      justify-content: center;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(5, 200px);
      grid-template-areas:
        "bikeStore bikeStore"
        "restaurante regalos"
        "apiRestBiblioteca regalos"
        "apiRestEcommerce apiRestEcommerce"
        "krennflix curriculum";
    }
  }

  @media (max-width: 538px) {
    div {
      justify-content: center;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(7, 200px);
      grid-template-areas:
        "bikeStore"
        "restaurante"
        "regalos"
        "apiRestBiblioteca"
        "curriculum"
        "krennflix"
        "apiRestEcommerce";
    }
  }
</style>

<style is:global>
  .bento-container article{
    transition: all .4s ease-in-out;
  }

  .bento-container:hover article:not(:hover) {
    opacity: 0.5;
    filter: grayscale(1);
    /* transition: all 0.3s ease-in-out; */
  }
</style>
