
---
import type { Project } from "../utils/types";

interface Props {
  proyects: Project[];
}

const { proyects } = Astro.props;
---

<section>
  <h2>Proyectos personales</h2>
  <div>
    {
      proyects.map((project) => (
        <article>
          <h3>{project.title}</h3>
        </article>
      ))
    }
  </div>
</section>

<style>
  section {
    margin: 40px 0;
  }

  h2 {
    font-size: 2rem;
    margin: 20px 0;
  }

  h3 {
    font-size: 1.3rem;
    text-align: center;
  }

  div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-area: 'proyects'
    grid-gap: 1rem;
    margin: 20px 0;
  }

  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
</style>
