---
import type { Tag } from "../utils/types";

type Props = {
  tecnology: Tag;
};

const { tecnology } = Astro.props;
const { name, image } = tecnology;
---

<li class="tag">
  <span class="tag-effect"></span>
  <div class="tag-name">
    {image && <img class="tecnology-icon" src={`/icons/${image}`} alt={name} />}
    <span>{name}</span>
  </div>
</li>

<style>
  .tag {
    position: relative;
    display: flex;
    overflow: hidden;
    border-radius: 9999px;
    padding: 1px;
  }

  .tag-effect {
    position: absolute;
    inset: -1000%;
    animation: spin 2s linear infinite;
    background-image: conic-gradient(
      from 90deg at 50% 50%,
      #e2cbff,
      #393bb2,
      #e2cbff
    );
  }

  .tag-name {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 9999px;
    background-color: #020617e6;
    padding: 0.135em 0.7em;
    font-size: 0.6em;
    line-height: 1.7em;
    font-weight: 400;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    z-index: 99;
  }

  .tecnology-icon {
    width: 13px;
    height: 13px;
    margin-right: 8px;
  }
</style>
